---
layout: default
comments: true
---

<div class="post-header mb2">
  <h1 class="py2">{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span>
  {% endif %}
</div>

<article class="post-content">
  {{ content }}
</article>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- flyingsky -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-1992382271196226"
     data-ad-slot="7569646889"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% include comments.html %}
